@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration:none
}
/* header 시작 */
header {
  font-family: 'SpoqaHanSansNeo-light';
  display: flex;
  height: 5.9028vw;
  background-color: white;
  justify-content: space-between;
}

.header-all-list {
  display: flex;
  margin-right: 6.9444vw;
}

.header-logo {
  font-size: 2.4306vw;
  color: black;
  padding: 1.0417vw 0;
  margin-left: 6.25vw;
  padding-bottom: 2.0833vw;
}

.header-list {
  font-size: 1.3889vw;
  color: black;
  padding: 1.7014vw 0;
  margin-left: 6.25vw;
}

a.header-list:link { 
  text-decoration:none 
}

a.header-list:visited { 
  text-decoration:none 
}

a.header-list:hover { 
  text-decoration:underline 
}

a.header-list:active { 
  text-decoration:none 
}
/* header 끝 */

/* 메인페이지 what are you doing? 단어 분할 화면 시작 */
.all-main-page-words {
  font-family: 'graphik';
  font-style: normal;
  font-weight: bold;
  font-size: 8.3333vw;
  height: 41.6667vw;
  width: 83.333vw;
  margin: 1.3889vw 6.9444vw;
  position: relative;
  text-align: center;
}

.main-page-words-1{
  width: 21.5278vw;
  height: 9.1667vw;
  position: absolute;
  left: 2.5694vw;
}

.main-page-words-2{
  width: 13.3333vw;
  height: 9.1667vw;
  position: absolute;
  left: 41.3889vw;
  top: 13.4028vw;
}

.main-page-words-3{
  width: 15.0694vw;
  height: 9.1667vw;
  position: absolute;
  left: 6.5972vw;
  bottom: 7.0833vw;
}

.main-page-words-4{
  width: 23.5417vw;
  height: 9.1667vw;
  position: absolute;
  right: 2.5vw;
  bottom: 0.9722vw;
}

.main-page-words-5{
  width: 4.6528vw;
  height: 9.1667vw;
  position: absolute;
  top: 2.7083vw;
  right: 5.9722vw;
}
/* 메인페이지 what are you doing? 단어 분할 화면 끝 */