@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* header 시작 */
header {
  font-family: 'SpoqaHanSansNeo-light';
  display: flex;
  height: 6.2083vw;
  justify-content: space-between;
}

.header-logo {
  font-size: 2.4306vw;
  color: black;
  padding: 1.0417vw 0;
  margin-left: 6.25vw;
  padding-bottom: 2.0833vw;
  position: fixed;
  transition: 0.3s;
}

.header-all-list {
  display: flex;
  margin-left: 60vw;
  position: fixed;
}

.header-list {
  font-size: 1.3889vw;
  color: black;
  padding: 1.7014vw 0;
  margin-left: 6.25vw;
  transition: 0.5s;
}

a {
  text-decoration: none
}

a.header-list:link {
  text-decoration: none
}

a.header-list:visited {
  text-decoration: none
}

a.header-list:hover {
  text-decoration: underline
}

a.header-list:active {
  text-decoration: none
}

/* header 끝 */

/* 메인페이지 what are you doing? 단어 분할 화면 시작 */
.all-main-page-words {
  font-family: 'graphik';
  font-style: normal;
  font-weight: bold;
  font-size: 7.9861vw;
  width: 83.333vw;
  position: relative;
  text-align: center;
  height: 49vw;
  margin-left: 8vw;
  margin-right: 8vw;
}

.main-page-words-1 {
  width: 21.5278vw;
  height: 9.1667vw;
  position: absolute;
  left: 2.5694vw;
  top: 1.3889vw;
}

.main-page-words-2 {
  width: 13.3333vw;
  height: 9.1667vw;
  position: absolute;
  left: 38.3889vw;
  top: 14.4028vw;
}

.main-page-words-3 {
  width: 15.0694vw;
  height: 9.1667vw;
  position: absolute;
  left: 4.5972vw;
  bottom: 11.0833vw;
}

.main-page-words-4 {
  width: 23.5417vw;
  height: 9.1667vw;
  position: absolute;
  right: 2.5vw;
  bottom: 6.25vw;
}

.main-page-words-5 {
  width: 4.6528vw;
  height: 9.1667vw;
  position: absolute;
  top: 2.7083vw;
  right: 5.9722vw;
}

/* 메인페이지 what are you doing? 단어 분할 화면 끝 */

/* scroll down start */

.scroll-down {
  position: absolute;
  font-size: 1.0417vw;
  /* font-family: ; */
  height: 1.3889vw;
  width: 6.9444vw;
  color: black;
  top: 87%;
  left: 45%;
  animation-name: arrow-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  text-align: center;
}

@keyframes arrow-down {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 1.3889vw;
  }
}

.arrow-down {
  width: 6.5vw;
  margin-top: -1.0417vw;
}

/* scroll down finish */

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: auto;
}

/* 두 번째 화면 시작 */
.content {
  width: 100%;
  height: 100vh;
  background-size: cover;
  scroll-snap-align: start;
}

.secondpage {
  background-color: black;
  height: 55.5556vw;
}

.content-1-sentence {
  color: white;
  font-family: 'graphik-bold';
  font-size: 8.3333vw;
  width: 84.6528vw;
  height: 9.1667vw;
  left: 8.5vw;
  top: 18.5417vw;
  position: relative;
  z-index: 2;
}

.sentence-hover {
  color: white;
  font-family: 'SpoqaHanSansNeo-light';
  font-size: 2vw;
  position: relative;
  left: 4vw;
  width: 28.4722vw;
  margin: auto;
  z-index: 0;
  opacity: 0;
  padding-top: 15.9722vw;
}

.content-1-sentence:hover {
  color: black;
  -webkit-text-stroke: 1px white;
  font-family: 'graphik-bold';
  font-size: 8.3333vw;
  width: 84.6528vw;
  height: 9.1667vw;
  left: 8.5vw;
  top: 15vw;
  position: relative;
  transition: 1s;
}

.content-1-sentence:hover+.sentence-hover {
  padding-top: 20.8333vw;
  transition: 1s;
  opacity: 1;
}

.sentence-hover-1 {
  width: 14.7222vw;
  height: 2.7778vw;
  left: 42.6389vw;
  top: 31.5278vw;
}

.sentence-hover-2 {
  width: 19.9306vw;
  height: 2.7778vw;
  left: 40.0694vw;
  top: 36.3194vw;
}

.sentence-hover-3 {
  width: 28.4028vw;
  height: 2.7778vw;
  left: 35.8333vw;
  top: 41.1111vw;
}

/* 두 번째 화면 끝 */

/* 세 번째 화면 시작 */
.thirdpage {
  background-color: white;
  height: 55.5556vw;
}

.circle {
  background-color: none;
  width: 280px;
  height: 280px;
  border: black 1px solid;
  border-radius: 150px;
  position: absolute;
  display: flex;
  margin-top: 20%;
  font-family: 'SpoqaHanSansNeo-light';
  font-size: 30px;
  color: black;
  align-items: center;
  justify-content: center;
}

#circle1 {
  left: 124px;
}

#circle2 {
  left: 580px;
}

#circle3 {
  left: 1036px;
}

a.circle:link {
  text-decoration: none;
}

a.circle:visited {
  text-decoration: none;
}

/* a.circle:hover {
 
} */

a.circle:active {
  text-decoration: none;
}

/* 세 번째 화면 끝 */