@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* header 시작 */
header {
  font-family: 'SpoqaHanSansNeo-light';
  display: flex;
  height: 89.3995px;
  justify-content: space-between;
}

.header-logo {
  font-size: 35.0006px;
  color: black;
  padding: 15.0005px 0;
  margin-left: 90px;
  padding-bottom: 29.9995px;
  position: fixed;
  transition: 0.3s;
}

.header-all-list {
  display: flex;
  margin-left: 864px;
  position: fixed;
}

.header-list {
  font-size: 20.0002px;
  color: black;
  padding: 24.5002px 0;
  margin-left: 90px;
  transition: 0.5s;
}

a {
  text-decoration: none
}

a.header-list:link {
  text-decoration: none
}

a.header-list:visited {
  text-decoration: none
}

a.header-list:hover {
  text-decoration: underline
}

a.header-list:active {
  text-decoration: none
}

/* header 끝 */

/* music photo 시작 */
.music-photo {
  width: 20.8333vw;
  height: 20.8333vw;
  position: absolute;
}

.never-not {
  left: 12.3611vw;
  top: 10.4167vw;
}

.a-book-of-love {
  left: 39.5833vw;
  top: 10.4167vw;
}

.개화 {
  left: 66.8056vw;
  top: 10.3472vw;
}

.viva-la-vida {
  top: 29.8611vw;
  left: 12.3611vw;
}

.사랑하기-때문에 {
  top: 29.8611vw;
  left: 39.5833vw;
}

.a-thousand-years {
  top: 29.8611vw;
  left: 66.8056vw;
}

/* music photo 끝 */