@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* header 시작 */
header {
  font-family: 'SpoqaHanSansNeo-light';
  display: flex;
  height: 6.2083vw;
  justify-content: space-between;
}

.header-logo {
  font-size: 2.4306vw;
  color: white;
  padding: 1.0417vw 0;
  margin-left: 6.25vw;
  padding-bottom: 2.0833vw;
  position: fixed;
  transition: 0.3s;
}

.header-all-list {
  display: flex;
  margin-left: 60vw;
  position: fixed;
}

.header-list {
  font-size: 1.3889vw;
  color: white;
  padding: 1.7014vw 0;
  margin-left: 6.25vw;
  transition: 0.5s;
}

a {
  text-decoration: none
}

a.header-list:link {
  text-decoration: none
}

a.header-list:visited {
  text-decoration: none
}

a.header-list:hover {
  text-decoration: underline
}

a.header-list:active {
  text-decoration: none
}

/* header 끝 */

body {
  overflow: hidden;
}

/* photo start*/
.all-photo {
  width: 1440px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(80, 1vw);
  grid-template-rows: repeat(80, 1vw);
  object-fit: cover;
}

.napkin {
  grid-column-start: 3;
  grid-row-start: 1;
}

.pocari {
  grid-column-start: 78;
  grid-row-start: 42;
}

.blackchair {
  grid-column-start: 3;
  grid-row-start: 38;
}

.bottle {
  grid-column-start: 57;
  grid-row-start: 1;
}

.coffee {
  grid-column-start: 78;
  grid-row-start: 20;
}

.floor {
  grid-column-start: 3;
  grid-row-start: 20;
}

.kanto {
  grid-column-start: 26;
  grid-row-start: 1;
}

.speaker {
  grid-column-start: 57;
  grid-row-start: 33;
}

.stairs {
  grid-column-start: 78;
  grid-row-start: 1;
}

.fireextinguisher {
  grid-column-start: 33;
  grid-row-start: 20;
}

/* photo 끝 */

.logo {
  color: white;
  font-family: 'SpoqaHanSansNeo-light';
  font-size: 45px;
  grid-column-start: 40;
  grid-row-start: 45;
}