@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* header 시작 */
header {
  font-family: 'SpoqaHanSansNeo-light';
  display: flex;
  height: 6.2083vw;
  justify-content: space-between;
}

.header-logo {
  font-size: 2.4306vw;
  color: white;
  padding: 1.0417vw 0;
  margin-left: 6.25vw;
  padding-bottom: 2.0833vw;
  position: fixed;
  transition: 0.3s;
}

.header-all-list {
  display: flex;
  margin-left: 60vw;
  position: fixed;
}

.header-list {
  font-size: 1.3889vw;
  color: white;
  padding: 1.7014vw 0;
  margin-left: 6.25vw;
  transition: 0.5s;
}

a {
  text-decoration: none
}

a.header-list:link {
  text-decoration: none
}

a.header-list:visited {
  text-decoration: none
}

a.header-list:hover {
  text-decoration: underline
}

a.header-list:active {
  text-decoration: none
}

/* header 끝 */

/* photo start*/
.all-photo {
  position: relative;
  display: block;
}

.napkin {
  width: 296px;
  height: 244px;
  left: 24px;
  margin-top: 20px;
  margin: 0.8rem;
}

.pocari {
  width: 288px;
  height: 134px;
  margin: 0.8rem;
}

.blackchair {
  width: 405px;
  height: 180px;
  margin: 0.8rem;
}

.bottle {
  width: 270px;
  height: 422px;
  left: 817px;
  margin: 0.8rem;
}

.coffee {
  width: 289px;
  height: 273px;
  left: 1124px;
  margin: 0.8rem;
}

.floor {
  width: 405px;
  height: 226px;
  left: 24px;
  margin: 0.8rem;
}

.kanto {
  width: 416px;
  height: 244px;
  left: 357px;
  top: 130px;
  margin: 0.8rem;
}

.speaker {
  width: 270px;
  height: 273px;
  margin: 0.8rem;
}

.stairs {
  width: 289px;
  height: 244px;
  left: 1124px;
  margin: 0.8rem;
}

.fireextinguisher {
  width: 309px;
  height: 356px;
  left: 464px;
  margin: 0.8rem;
}

/* photo 끝 */