@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* header 시작 */
header {
  font-family: 'SpoqaHanSansNeo-light';
  z-index: 100;
  height: 6.2083vw;
  justify-content: space-between;
}

.header-logo {
  font-size: 2.4306vw;
  color: white;
  padding: 1.0417vw 0;
  margin-left: 6.25vw;
  padding-bottom: 2.0833vw;
  position: fixed;
  transition: 0.3s;

}

.header-all-list {
  display: flex;
  margin-left: 60vw;
  position: fixed;

}

.header-list {
  font-size: 1.3889vw;
  color: white;
  padding: 1.7014vw 0;
  margin-left: 6.25vw;
  transition: 0.5s;
}

a {
  text-decoration: none
}

a.header-list:link {
  text-decoration: none
}

a.header-list:visited {
  text-decoration: none
}

a.header-list:hover {
  text-decoration: underline
}

a.header-list:active {
  text-decoration: none
}

/* header 끝 */

.keyword {
  font-family: 'SpoqaHanSansNeo';
  font-style: normal;
  font-weight: bold;
  font-size: 2.7778vw;
  color: white;
  position: absolute;
  width: 12.5694vw;
  height: 3.4722vw;
  left: 44.1667vw;
  top: 10.5556vw;
}

.project-box {
  position: relative;
  display: flex;
  box-sizing: border-box;
  border-radius: 1.875vw;
  width: 20.8333vw;
  height: 13.4722vw;
  top: 18.5417vw;
  border: 0.0694vw solid #FFFFFF;
  background-color: none;
  font-family: 'SpoqaHanSansNeo-light';
  font-size: 1.25vw;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-box1 {
  left: 54.5833vw;
}

.project-box2 {
  left: 24.6528vw;
}

.project-box3 {
  left: 54.5833vw;
}

.project-box4 {
  left: 24.6528vw;
}

.project-box5 {
  left: 54.5833vw;
}

.project-box6 {
  left: 24.6528vw;
}

.project-box7 {
  left: 54.5833vw;
}

.project-box8 {
  left: 24.6528vw;
}

.project-box9 {
  left: 54.5833vw;
}

.project-box10 {
  left: 24.6528vw;
}

.line {
  position: absolute;
  width: 0.1389vw;
  height: 121.5278vw;
  left: 50.2778vw;
  top: 31.25vw;
  background-color: white;
}

.circle {
  width: 1.3889vw;
  height: 1.3889vw;
  border-radius: 10.4167vw;
  position: absolute;
  left: 49.6181vw;
  background-color: white;
}

.circle1 {
  top: 31.25vw;
}

.circle2 {
  top: 43.75vw;
}

.circle3 {
  top: 57.9861vw;
}

.circle4 {
  top: 70.8333vw;
}

.circle5 {
  top: 84.7222vw;
}

.circle6 {
  top: 97.9167vw;
}

.circle7 {
  top: 111.8056vw;
}

.circle8 {
  top: 125vw;
}

.circle9 {
  top: 139.5833vw;
}

.circle10 {
  top: 152.0833vw;
}